@model List<Tasprof.Apps.MySpotifyDroid.Models.Playlist>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach (var playlist in Model)
        {
            <li><span>@playlist.Name</span></li>
        }
    </ul>
</div>
