
@model Tasprof.Apps.MySpotify.WebMvc.ViewModels.Charts.CreateChartViewModel

<div id="myspotitfy-chart-container">
    <ul id="myspotitfy-chart">
        @foreach(var item in Model.Chart.ChartItems) {
        <li class="myspotify-chartitem">
            <span>@item.Position</span>
            <span>@item.ChartTrack.Artist</span>
            <span>@item.ChartTrack.Title</span>
        </li>
        }
    </ul>
</div>
