@model Tasprof.Apps.MySpotify.Core.Models.PlayHistoryItems

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach (var playHistoryItem in Model.Items)
        {
            <li>
                <span>@playHistoryItem.Track.Title</span>
                <span>@playHistoryItem.PlayedAt.ToString()</span>
                @*<img src="@playlist.MainImage.Url" alt="@playlist.Name" />*@
            </li>
        }
    </ul>
</div>
